@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Merriweather', serif;
}

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;

    --card: 220 20% 12% / 0.6;
    --card-foreground: 210 40% 98%;
    
    --popover: 220 20% 12% / 0.8;
    --popover-foreground: 210 40% 98%;

    --primary: 45 85% 60%;
    --primary-foreground: 35 85% 15%;

    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 25%;
    --muted-foreground: 210 40% 70%;

    --accent: 35 85% 55%;
    --accent-foreground: 35 85% 10%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 25%;
    --input: 217 33% 22%;
    --ring: 45 85% 60%;

    --radius: 0.5rem;

    --page-background: 200 10% 95%;
    --page-foreground: 224 71% 4%;
    --page-gutter-shadow: linear-gradient(to right, rgba(0,0,0,0.15), rgba(0,0,0,0));
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;

    --card: 220 20% 12% / 0.6;
    --card-foreground: 210 40% 98%;
    
    --popover: 220 20% 12% / 0.8;
    --popover-foreground: 210 40% 98%;

    --primary: 45 85% 60%;
    --primary-foreground: 35 85% 15%;

    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 25%;
    --muted-foreground: 210 40% 70%;

    --accent: 35 85% 55%;
    --accent-foreground: 35 85% 10%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 25%;
    --input: 217 33% 22%;
    --ring: 45 85% 60%;

    --page-background: 200 10% 95%;
    --page-foreground: 224 71% 4%;
    --page-gutter-shadow: linear-gradient(to right, rgba(0,0,0,0.15), rgba(0,0,0,0));
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: radial-gradient(circle at top, hsl(224, 71%, 10%), hsl(224, 71%, 4%));
  }
}

@layer utilities {
  .perspective {
    perspective: 2000px;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
  }
  .glass {
    @apply backdrop-blur-md;
  }
}
